{{#if api.m_selectedUser}}
    <button type="button" class="btn btn-primary btn-block" onclick={{action api.fn_clearUser}}>
        重置
    </button>
{{/if}}
{{#each api.m_users as |user|}}
    <li local-class="user-item" onclick={{action api.fn_selectUser user}}>{{user.login}}</li>
{{/each}}
