<h2>在父子组件之间传递状态</h2>
{{#user-section model as |ui api|}}
    {{ui.header api.m_selectedUser}}
    <div class="grid">
        {{ui.list api}}
        {{ui.detail api.m_selectedUser}}
    </div>
{{/user-section}}
